@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-image: url("https://farm5.staticflickr.com/4566/24854966758_fa5322819c_o.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

img {
	width: 400px;
}

h1 {
	font-family: Oswald, sans-serif;
	font-size: 60px;
	line-height: 2em;
	font-weight: bold;

}

h2 {
	font-family: Oswald, sans-serif;
	font-size: 1.5em;
}

p {
	font-size: 18px;
	font-family: Roboto, sans-serif; 
}

.bg {
  width: 100%;
  z-index: 0;
}

footer {
	text-align: center; 
	font-style: italic;
}
