@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.images {
	height: 200px;
}

#wrapper {
	padding: 5px;
	margin: 5px;
}

#title {
	/*background image for head
	background-image: url("https://farm5.staticflickr.com/4660/25554938617_e9f8fa58ef_o.jpg");
	background-repeat: no-repeat;
	*/
	width: 100%;
	background-color: #35a9fe;

}

.title {
	font-family: Oswald, sans-serif;
	font-size: 5em;
	line-height: 1.5em;
	font-weight: bold;
	padding: 20px;
	color: white;
}

nav {
	clear: both;
	background-color: #6cb800;
	width: 100%;
	text-align: center;
}

nav a {
	background-color: #6cb800;
  	color: white;
  	text-decoration: none;
  	float: left;
  	display: block;
  	font-family: Roboto, sans-serif; 
	font-size: 1em;
	padding: 15px 30px;
	margin: 0px 20px;
	text-transform: uppercase;
}

.clearfix:after {
	visibility: hidden; 
	display:block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: #35a9fe;
}

.stories {
	clear: both;
}

#footer {
	text-align: center; 
	font-style: italic;
}


h2 {
	font-family: Oswald, sans-serif;
	font-size: 2em;
}

p {
	font-family: Roboto, sans-serif; 
	font-size: 1em;
}

/*old header image
.bg {
  width: 100%;
  z-index: 0;
}
<img class="bg" src="images/mediaevent.jpg" alt="Residents at capitol for SB 623 media event" title="SB 623 Media Event">
*/
