@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
}

.logo {
	width: 220px;
	float: right;
	height: auto;
	margin: 5% 25% 5% 0; 
}


.images_left {
	width: 48%;
	height: auto;
	float: left;
	padding: 1em;
}

.images_right {
	width: 48%;
	height: auto;
	float: right;
	padding: 1em;
}

#title {
	width: 100%;
	background-color: #35a9fe;
}

.title {
	font-family: Oswald, sans-serif;
	font-size: 5em;
	line-height: 1.5em;
	font-weight: bold;
	padding: 2%;
	color: white;
	float: left;
}

nav {
	clear: both;
	background-color: #6cb800;
	width: 100%;
	text-align: center;
}

nav a {
	background-color: #6cb800;
  	color: white;
  	text-decoration: none;
  	float: left;
  	display: block;
  	font-family: Roboto, sans-serif; 
	font-size: 1em;
	padding: 1.5em;
	text-transform: uppercase;
}

.clearfix:after, .article:after {
	visibility: hidden; 
	display:block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: #35a9fe;
}

p {
	font-family: Roboto, sans-serif; 
	font-size: 1em;
	line-height: 1.5em;
}

#letter {
	margin: 3em;
	max-width: 1440px;
}

footer {
	text-align: center; 
	font-style: italic;
	background-color: #35a9fe;
	padding: 1em;
	color: white;
	clear:both;
}


h2 {
	font-family: Oswald, sans-serif;
	font-size: 2em;
	text-align: center;
}

.h2story {
	background: #35a9fe;
}

.story_right {
	font-family: Roboto, sans-serif; 
	font-size: 1em;
	line-height: 1.5em;
	width: 50%;
	height: auto;
	float: right;
	padding: 1em;
}

.story_left {
	font-family: Roboto, sans-serif; 
	font-size: 1em;
	line-height: 1.5em;
	width: 50%;
	height: auto;
	float: left;
	padding: 1em;
}

article {
	clear:both;
}

#EP {
	clear:both;
	padding: 2em;
}

#donors {
	clear:both;
	padding: 2em;
}

#getinvolved {
	width: 100%;
	background-color: #fff;
	float: left;
	text-align: center;
	clear:both;
	padding: 2em;
}

.action {
	height: 75px;
	padding: 1em;
}

.social {
	height: 75px;
	padding: 1em;
}

#stories {
	background-color: #35a9fe;
	margin: 0;
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 1358px) { 
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 871px) { 
  nav a {
    float: none;
    margin: 0;
  }

  .title {
  	font-size: 3em;
  }

  .images_left {
	float: none;
	width: 98%;
}

.images_right {
	float: none;
	width: 98%;
}

.story_left {
	float: none;
	width: 98%;
}

.story_right {
	float: none;
	width: 98%;
}

@media only screen and (max-width: 568px) { 

#getinvolved {
	float: none;
	}
}

@media only screen and (max-width: 448px) { 
	.title {
		font-size: 2em;
	}
}
