body {
	background: url(hands.jpg);
	background-size: cover;
}

h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

p {
	text-align: center;
	font-family: Helvetica, sans-serif; 
}

img {align-content: center;
}