body {
	background color: white;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 60px;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 40px;
}

p {
	font-family: Helvetica, sans-serif; 
}

.bg {
  width: 100%;
  z-index: 0;
}
